.lab-content {

    width: 600px;
    background-color: #e9ecef;
    margin: auto;
    padding: 15px;

}


#graph-viz {
    height: 500px;
}

#graph-viz-2{
    height: 500px;
}

.g-node text {

    font-size: 2px;

}

main{
    background-color: #f4f8fc;
}

#desc{
    min-height: 100px;
}



#desc-2{
    min-height: 40px;
}

#majorclaim-legend, .MajorClaim{
    background-color: yellow;
}
#claim-legend, .Claim {
    background-color: orange;
}
#premise-legend, .Premise{
    background-color: lightblue;
}

#lab-3{
   width: 100%;
}

.lab-2-floats{

}

#lab-2{
    width: 100%;
}
#besideMouse{
    background-color: white;
    max-width: 300px;

}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}